.song-container {
  min-height: 60vh;
  background: lightblue;
  display: flex;
  flex-direction: column;
  // by using display flex and flex-direction we now have access to align item so:
  align-items: center;
  justify-content: center;
}
